<nav class="navbar">
  <div class="navbar-left">
    <div class="logo" routerLink="/coins">C</div>
    <span class="title" routerLink="/coins">CryptoTracker</span>
  </div>

  <div class="burger" (click)="toggleMenu()" [class.open]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navbar-right" [class.open]="isMenuOpen">
    <a
      routerLink="/coins"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMenu()"
      >Coins</a
    >
    <a
      routerLink="/portfolio"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMenu()"
      >Portfolio</a
    >
    <a
      routerLink="/wishlist"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMenu()"
      >Wishlist</a
    >
  </div>
</nav>
