<nav class="navbar">
  <div class="navbar-left">
    <div class="logo" routerLink="/coins">C</div>
    <span class="title" routerLink="/coins">CryptoTracker</span>
  </div>

  <div class="burger" (click)="toggleMenu()" [class.open]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navbar-right" [class.open]="isMenuOpen">
    <a routerLink="/coins" (click)="toggleMenu()">Coins</a>
    <a routerLink="/portfolio" (click)="toggleMenu()">Portfolio</a>
    <a routerLink="/wishlist" (click)="toggleMenu()">Wishlist</a>
  </div>
</nav>
